@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: 'bebas neue';
    src: url(fontes/BebasNeue-Regular.ttf);
}

*{
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebe5c5;
}

header{
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    color: white;
    min-height: 205px;
    padding-top: 40px;
}

header > h1{
    font-family: "bebas neue";
    font-size: 3em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.425);
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    
    
    
}

header > p{
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
    padding: 0px 10px 50px 10px;
    max-width: 600px;
    margin: auto;
    text-align: center;

}

nav > a{
    text-decoration: none;
    color: #83e1ad;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
    

}

nav > a:hover{
    background-color: #2fa866;
    color: #063d1e;
    border-radius: 5px;
    
}

main > h1{
    font-family: 'android', Arial, Helvetica, sans-serif;
    color: #063d1e;
    font-size: 1.8em;
    text-shadow: none;
    text-align: left;
    font-weight: normal;
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 200px;  
    padding: 20px;
    margin: auto;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.822);
}

main > p {
    text-align: justify;
    padding: 10px;
    text-indent: 30px;
    line-height: 2em;
    
}

h2{
    text-indent: 15px;
    font-family: 'android', Arial, Helvetica, sans-serif;;
    color: #1a5c37;
    background-image: linear-gradient(to right, #83e1ad, rgb(255, 255, 255));
    margin: 15px;
    font-weight: lighter;
}

.links{
    text-decoration: none;
    color:#063d1e;
    font-weight: bold;
    background-color:#83e1ad ;
    padding: 2px;
}
.links:hover{
    text-decoration: underline;
    color:#1a5c37 ;
}

.links::after{
    content: '\00a0\1F517';
}

img{
    display: block;
    margin: auto;
}

.image{
    max-width: 350px;
    
}

.video{
    background-color: #063d1e;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

strong{
    color: #1a5c37;
}

aside > h3{
    color: white;
    background-color: #1a5c37;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside{
    background-color: #83e1ad;
    border-radius: 10px;
    
}

aside > p{
    padding: 10px;
    text-indent: 30px;
    line-height: 2em;
}

aside > ul{
    columns: 2;
    line-height: normal;
    list-style-type: '\1F5F8\00a0' ;
}

.history{
    text-decoration: none;
    color: #063d1e;
    font-weight: bold;
}

.history:hover{
    color: #1a5c37;
}

footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    font-size: .8em;
}





